header {
    background-color: yellowgreen;
}
.logo {
    height: 2rem;
    width: auto;
}

a.nav-link {
    text-decoration: none;
    color: yellow;
    &:hover {
        color: black;
        font-weight: bolder;
    }
}
.btn {
    margin: 0.2rem;
}
